@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
.container {
	font-family: "Oswald" sans-serif;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: orange;
}

.top__section {
	display: flex;
	flex-direction: column;
	.title {
		display: flex;
		align-items: center;
		justify-content: center;
		h1 {
			color: white;
			font-size: 50px;
			font-weight: 700;
		}
	}
}
.search {
	margin-top: 50px;
	input {
		padding: 5px;
		font-size: 22px;
		border-radius: 12px;
		border: 1px solid black;
		background-color: #333;
		color: white;

		&:hover {
			filter: drop-shadow(0 0 2em #61dafbaa);
		}
	}
}
button {
	background-color: #efefef;
	cursor: pointer;
	border: 1px solid transparent;
	font-style: 1em;
	border-radius: 8px;
	padding: 0.6em 1.2em;
	margin-left: 10px;
	font-weight: 500;
	font-size: 18px;
    border: 2px solid #555;
    cursor: pointer;
    &:hover {
        filter: drop-shadow(0 0 2em #61dafbaa);
        transform: scale(1.08);
    }
}


.bottom__section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 20px;
	width: 90%;
	height: 500px;
	align-items: center;
	justify-content: center;
	background-color: #555;
	border-radius: 20px;
	overflow-y: scroll;
	min-height: 300px;

	.synonyms__list {
		background-color: white;
		display: flex;
		flex-direction: column;
		list-style-type: none;
		color: #555;
		width: auto;

		border-radius: 25px;
		padding: 10px;
		margin: 10px;
		align-content: center;
		margin-bottom: 20px;
		cursor: pointer;
		&:hover {
			filter: drop-shadow(0 0 2em #61dafbaa);
			transform: scale(1.08);
		}
	}
}
